.cart{
    position: sticky;
    top: 0;
    padding-bottom: 20px;
    justify-content: center;
}

.order-summary{
    display: flex;
    justify-content: center;
}

.selected-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.selected-item img{
    height: 50px;
    width: 70px;
}

.btn-cart-container{
    display: flex;
    justify-content: space-evenly;
}

.btn-cart{
    background-color: lightslategray;
    color: white;
    border: none;
    border-radius: 10px;
}

.btn-cart:hover{
    background-color: navy;
}