.cars-container{
    background-color: lightsalmon;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
}

.cart-container{
    background-color: beige
}

@media screen and (max-width: 576px) {
    .cars-container{
        grid-template-columns: 2fr 1fr;
    }
    .product-container{
        grid-template-columns: 1fr;
    }
}

.quesAns{
    padding: 50px;
}